body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

header {
	padding: 1em;
}

footer {
	text-align: center;
	position: relative;
	background-color: #63639C;
	padding-top: 0.5rem;
}

form {
	position: relative;
	text-align: center;
	padding-top: 2em;
}

table td {
	text-align: center;
}

h1 {
	clear: both;
	text-align: center;

}

.logoHeader {
	 width: 150px;
}

.titleHeader {
	color: #63639C;
	text-transform: uppercase;
	font-weight: bold;
}

.rightH {
	float: right;
}

.leftH {
	float: left;
}

.form {
	padding-right: 1em;
	font-weight: bold;
}

.eight.columns {
	margin-top: 1em;
	margin-bottom: 1em;
	border: solid 1px #CBCBCB;
	box-shadow: 0 0 5px 1px #a8a8a8;
}

.copyright {
	color: #fff;
	font-size: 10px;
	padding-bottom: 1em;
	margin-bottom: 0rem;
}

.tableGestio{
	margin: auto;
	box-sizing: border-box;
}

#calendari, table {
	margin: auto;
}

.clear {
	clear: both;
}

.calButtons {
	width: 50%;
	margin: auto;
}

.left {
	float: left;
	margin: 1em;
}

.right {
	float: right;
	margin: 1em;
}

.disabled {
	color: #a8a8a8;

}

.today {
	background-color: #63639C;
	color: #fff;
}

.noBorder {
	border: none;
}